.box{
    background-color: lightblue;
    margin: 200px;
    /* transform: translate(0px,250px); */
    /* transform: rotate(-45deg); */
    transform: scale(2,2);
    transform: skew(-10deg);

    /* transform: matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY()); */
}